@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&family=Inter:wght@300;400;600&display=swap');
@import 'leaflet/dist/leaflet.css'; /* Стили для карты */
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

:root {
  --bg-dark: #111111;
  --bg-dark-secondary: #1a1a1a;
  --text-white: #ffffff;
  --text-gray: #b0b0b0;
  --accent: #ffffff; 
  --font-main: 'Montserrat', sans-serif;
  --font-body: 'Inter', sans-serif;
}

* { box-sizing: border-box; margin: 0; padding: 0; }

body {
  background-color: var(--bg-dark);
  color: var(--text-white);
  font-family: var(--font-body);
  overflow-x: hidden;
}

h1, h2, h3 { font-family: var(--font-main); text-transform: uppercase; }
button { font-family: var(--font-main); }

/* Кастомный скроллбар */
::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background: var(--bg-dark); }
::-webkit-scrollbar-thumb { background: #444; border-radius: 4px; }

/* Инверсия карты Leaflet для темной темы */
.leaflet-layer, .leaflet-control-zoom-in, .leaflet-control-zoom-out, .leaflet-control-attribution {
  filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
}

html {
  scroll-behavior: smooth;
}